h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.navbar.is-primary {
    background-color: #dbdbdb;
}
.menu-list a.is-active {
    background-color: #b00000;
}

.addButton{
    float: right;
    margin-top: 20px;
}

.table-button{
    padding: 0;
}

.inputForm{
    margin-top: 3em;
    margin-right: 3em;
}

.saveButton{
    margin-top: 20px;
}

.button.is-danger {
    background-color: #b00000;
}

.has-text-danger{
    color: #b00000 !important;
}

.home-page-text{
    text-align: center;
    margin-bottom: 0%;
}

.map{
    margin-top: 20px;
}

.tString{
    width: 20%;
}

.tButton{
    width: 30%;
}
