<template>
  <section class="section">
    <div>
      <b-button
        class="addButton"
        type="is-light"
        icon-left="undo"
        @click="goBack()"
      >
        Back
      </b-button>
      <h1>Add a wolf</h1>
    </div>
    <form @submit="checkForm" id="edit-form">
      <b-field label="Name">
        <input
          class="input"
          type="text"
          id="name"
          name="name"
          placeholder="name"
          required
        />
      </b-field>

      <b-field label="Birthday">
        <input class="datepicker input" type="date" id="birthday"
        name="birthday"
        pattern=/^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])/>
      </b-field>

      <b-field label="Gender">
        <select class="select input" type="text" id="gender" name="gender">
          <option value="male" selected>male</option>
          <option value="female">female</option>
        </select>
      </b-field>

      <input class="button" @click="checkForm" value="Send" />
    </form>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

var temp = Object.freeze({
  name: "",
  birthday: "",
  gender: "",
});

export default {
  
  props: {
    type: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      wolf: Object.assign({}, temp),
    };
  },

  methods: {
    /**
     * Checks whether the input from the user is correctly.
     * If given input is correctly formatted, it will send the form.
     * Else, the user will be notified and the form will not be send
     */
    checkForm({ $axios }) {
      
      const editForm = document.getElementById("edit-form");
      const nameInput = editForm.querySelector("input[name= name]");
      const birthdayInput = editForm.querySelector("input[name= birthday]");
      const genderInput = editForm.querySelector("select[name= gender]");

      const name = nameInput.value;
      const birthday = birthdayInput.value;
      const gender = genderInput.value;

      if (name == "") {
        return Notification.open("Please enter a valid Name");
      } else if (birthday == "") {
        return Notification.open("Please enter a valid Birthday");
      }

      var wolfObject = {
        name: name,
        birthday: birthday,
        gender: gender,
      };

      this.$axios.$post(`/wolves`, wolfObject).then(
        (response) => {
          this.$router.push({ path: `/wolf-list` });
          Notification.open(
            "Wolf " + wolfObject.name + " has successfully been created"
          );
        }).catch(
        (failureResponse) => {
          if (failureResponse.response.data.errors.name[0] != null) {
            return Notification.open("Creating wolf failed with: " 
                + failureResponse.response.data.errors.name[0]);
          } else {
            return Notification.open(failureResponse.message);     
          }
        }
      );
    },
    
    /**
     * Go back to previous page
     */
    goBack() {
      window.history.back();
    },
  },
};
</script>
